<body>
    <section>
        <img src="../../assets/tetris_logo.png" alt="tetris logo">
        <div class="container">
            <h1>Welcome Gamer!</h1>
            <h2> \\ Get ready for a nostalgic experience //</h2>
            <form #form="ngForm">
                <div><label for="name">Name:</label>
                    <input class="ng-untouched ng-pristine ng-invalid" type="text" id="name" [(ngModel)]="name"
                        name="name" placeholder="e.g. H34D$h0T420">
                </div>
                <div><label for="email">Email:</label>
                    <input class="ng-untouched ng-pristine ng-invalid" id="email" [(ngModel)]="email" name="email"
                        placeholder="e.g. cutejessica69@onlyfans.com" email>
                </div>
                <button type="submit" (click)="startGame()">PLAY</button>
            </form>
            <h3>// Enter your details to begin \\</h3>
        </div>
    </section>
</body>