<body>
  <section>
    <img src="assets/tetris_logo.png" alt="tetris logo" />
    <div class="container">
      <h1>Welcome Gamer!</h1>
      <h2>\\ Get ready for a nostalgic experience //</h2>
      <form #form="ngForm" (submit)="startGame(form.value)">
        <div>
          <label for="name">Name:</label>
          <input
            ngModel
            type="text"
            name="name"
            id="name"
            required
            minlength="1"
            placeholder="e.g. H34D$h0T420"
          />
        </div>
        <div>
          <label for="email">Email:</label>
          <input
            ngModel
            name="email"
            id="email"
            pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
            required
            placeholder="e.g. cutejessica69@onlyfans.com"
          />
        </div>
        <!-- <button [disabled]="form.invalid">PLAY</button> -->
      </form>
      <h3>// Enter your details to begin \\</h3>
    </div>
  </section>
</body>
