@font-face {
  font-family: "Back to 1982";
  src: url(../../assets/fonts/back-to-1982.regular.ttf);
}
@font-face {
  font-family: "Public Pixel";
  src: url(../../assets/fonts/PublicPixel-z84yD.ttf);
}
@font-face {
  font-family: "LCD Phone";
  src: url(../../assets/fonts/LcdPhone-wgZ2.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  color: white;
}

section {
  position: relative;
  font-family: "LCD Phone", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  h1 {
    font-family: "Back to 1982", sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
  }
  h3 {
    color: #9b9b9b;
  }
  img {
    position: absolute;
    top: 5%;
  }
}
.container {
  box-sizing: border-box;
  width: 50%;
  border: 2px solid;
  animation: rgb 5s linear infinite;
  border-radius: 25px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.65);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;

  input {
    width: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
  }

  button {
    margin: 20px 10px;
    padding: 10px;
    width: 30%;
    font-family: "Public Pixel", sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid rgb(58, 58, 58);
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    cursor: pointer;
  }
  button:hover {
    background-color: rgba(0, 0, 0, 0.85);
    transform: scale(1.1);
    animation: rgb2 10s linear infinite;
  }
  button:disabled {
    animation: none;
    transform: none;
    cursor: not-allowed;
  }
  div {
    display: flex;
    flex-direction: column;
  }
}

.ng-touched.ng-invalid {
  input {
    outline: 1px solid red;
  }
}

@keyframes rgb {
  0% {
    border-color: rgb(255, 0, 0);
  }
  33% {
    border-color: rgb(0, 255, 0);
  }
  66% {
    border-color: rgb(0, 0, 255);
  }
  100% {
    border-color: rgb(255, 0, 0);
  }
}

@keyframes rgb2 {
  0% {
    background-color: rgb(255, 0, 0);
  }
  33% {
    background-color: rgb(0, 255, 0);
  }
  66% {
    background-color: rgb(0, 0, 255);
  }
  100% {
    background-color: rgb(255, 0, 0);
  }
}
